version: "3.9"
services:
  backend:
    build: .
    container_name: backend
    ports:
      - "8000:80"
    environment:
      - POSTGRES_USER=yourUser
      - POSTGRES_PW=changeit
      - POSTGRES_DB=postgres
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
    depends_on:
      - postgres

  postgres:
    image: postgres:18
    container_name: postgres
    environment:
      - POSTGRES_USER=yourUser
      - POSTGRES_PASSWORD=changeit
      - POSTGRES_DB=postgres
    volumes:
      - pgdata:/var/lib/postgresql
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=your@email.com
      - PGADMIN_DEFAULT_PASSWORD=changeit
    ports:
      - "5050:80"

volumes:
  pgdata:
